
h1 {
    font-family:serif;
    text-align: center;
}


ul  {
    list-style-type: none;
    margin:30px 10px;
    padding-left:10px;
}

img {
    display:block;
    margin: 30px auto 10px auto ;
}

div {
    display:flex; 
    justify-content: center
}

button {
    text-align: center;
    width: 140px;
    height: 40px;
    margin: 10px ;
}   

.dark-mode {
    background: black; 
    color: white;
}

.dark-mode button.mode  {
    background-color:#fdce42;
    color: mintcream;
    border-color: mintcream;
    font-size: large;
}
