.taskLine {
  list-style-type: none;
  background-color: #f4f4f4;
  font-size: 90%;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

span.checked {
  text-decoration: line-through;
}

i {
  cursor: pointer;
}
